<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CROC.Education.CSharpBotService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CROC.Education.CSharpBotService.Properties.Settings>
      <setting name="Token" serializeAs="String">
        <value>465000606:AAGksD8DP2zjbDzvXLT0kuy73ZShzRH1Sr8</value>
      </setting>
      <setting name="Verbose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StateTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </CROC.Education.CSharpBotService.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DB" connectionString="server=172.26.28.15;database=CSHARPBOT;user id=student;password=Student1;App=CSharpBotServices" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>